* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.form-class {
  height: 25px;
  font-size: medium;
  width: 100px;
}

option {
  font-size: medium;
}

.app-stats {
  display: flex;
  justify-content: space-between;
}
